services:
  bunkerweb-instance:
    image: bunkerity/bunkerweb:1.6.8
    ports:
      - "8080:8080/tcp"
    env_file:
      - bunkerweb/.env
      - bunkerweb/.env.reverse_proxy
      - bunkerweb/.env.crowdsec
    # restart: "unless-stopped"
    networks:
      - bw-internal
      - bw-services
    depends_on:
      - app

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.8
    depends_on:
      - bunkerweb-instance
    volumes:
      - bw-data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file:
      - bunkerweb/.env
      - bunkerweb/.env.reverse_proxy
      - bunkerweb/.env.crowdsec
    # restart: "unless-stopped"
    networks:
      - bw-internal

  bw-ui:
    image: bunkerity/bunkerweb-ui:1.6.8
    env_file:
      - ./bunkerweb/bw-ui/.env
    # restart: "unless-stopped"
    volumes:
      - bw-data:/data
    ports:
      - 7000:7000
    networks:
      - bw-internal

  crowdsec:
    image: crowdsecurity/crowdsec:v1.7.6
    # restart: unless-stopped
    depends_on:
      - bunkerweb-instance
    networks:
      - bw-internal
    env_file:
      - ./bunkerweb/crowdsec/.env
    volumes:
      - crowdsec-data:/var/lib/crowdsec/data
      - crowdsec-config:/etc/crowdsec

       # To allow Crowdsec to read Docker messages for log analysis
      - ./bunkerweb/crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # This service is your application's web server (e.g., Nginx)
  # You can modify the image or mount your own configuration files as needed
  app:
    image: nginx:1.20

    # Open this port if direct testing of this service is needed (bypassing BunkerWeb)
    # ports:
    #   - "8081:80"
    volumes:
      - ./php:/var/www/html # Mount the source code directory
      - ./nginx/default.conf.template:/etc/nginx/templates/default.conf.template # Mount the Nginx configuration template
    env_file:
      - ./.env
    depends_on:
      - php
    networks:
      - bw-services

  # This service provides the PHP runtime environment. If your app is not PHP-based, you can remove or replace it.
  php:
    image: php:8.4.18-fpm-alpine3.22
    deploy:
      mode: replicated
      replicas: 1 # Replicas count
      resources:
        limits:
          cpus: '1' # Limit the maximum number of CPU cores used by a single container
          memory: 256M # Limit the maximum amount of memory used by a single container
    volumes:
      - ./php:/var/www/html # Sync the source code with the app service
    env_file:
      - ./.env
    networks:
      - bw-services

volumes:
  bw-data:
  crowdsec-data:
  crowdsec-config:

networks:
  bw-internal:
    ipam:
      driver: default
      config:
        - subnet: 10.20.30.0/24
  bw-services:
    ipam:
      driver: default
      config:
        - subnet: 10.20.40.0/24
